/*
 * @Description: 自定义Mixins集合
 * @Author: LiuZhen
 * @Date: 2018-05-28 21:29:42
 * @Last Modified by: cb
 * @Last Modified time: 2018-06-07 16:27:59
 */
@import './variable.styl'

/* 不换行 */
no-wrap(line-clamp=2)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp line-clamp
  -webkit-box-orient vertical

/* 下拉二级菜单提示三角(默认状态) */
next-class-tip-icon(fontSize=3px, backgroundColor=#9B9B9B)
  width 0
  height 0
  border-left fontSize solid transparent
  border-right fontSize solid transparent
  border-top fontSize+1 solid backgroundColor

/* 下拉二级菜单提示三角(激活状态) */
next-class-tip-icon-active(fontSize=3px, backgroundColor=#9B9B9B)
  width 0
  height 0
  border-left fontSize solid transparent
  border-right fontSize solid transparent
  border-bottom fontSize+1 solid backgroundColor

/* 个人中心主内容头部样式 */
personal-main-header()
    display flex
    flex-direction row
    justify-content space-between
    border-bottom 1px solid #E1E0E1
    font-size 14px
    color #666
    margin-bottom 20px

// 弹性布局  横向居中布局
flex-row-center()
  display flex
  flex-direction row
  justify-content center

// 弹性布局  纵向居中布局
flex-colunm-center()
  display flex
  flex-direction column
  justify-content center

// 弹性布局 横向左右对齐布局
flex-row-space-between()
  display flex
  flex-direction row
  justify-content space-between

// 弹性布局 纵向左右对齐布局
flex-column-space-between()
  display flex
  flex-direction column
  justify-content space-between

// 页脚横向链接群样式，可选参数字体颜色，间距
group-link(color=#747474, space=10px)
  color color
  &:not(:last-child)
    &:after
      content 'l'
      margin-left space
      margin-right space
