/*
 * @Description: Stylus 自定义变量集合
 * @Author: LiuZhen
 * @Date: 2018-05-28 20:35:56
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-31 19:20:02
 */

/* color */
$color-background = #f0f2f5
$color-background-d = #fff
$color-background-b = #262930
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-nav = rgba(51, 51, 51, 1)
$color-text-active = #2382EA
$color-text-red = #FC5A5D

/* border */
$border = 1px solid #EBEBEB


/* font size */
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
